.custom-modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeBackdrop 0.25s ease;
}

.custom-modal-container {
  background: #ffffff;
  width: 90%;
  max-width: 550px;
  max-height: 100vh;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: popIn 0.25s ease, slideUp 0.30s ease;
}

.rak-modal-body {
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 8px;
}

.list-group-item.active {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: #000 !important;
}

.list-group-item-action:hover {
  background-color: #e0bf54 !important;
  color: #000 !important;
}

@keyframes popIn {
  from {
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(25px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .custom-modal-container {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    border-radius: 0;
    animation: slideUp 0.25s ease, popIn 0.2s ease;
  }

  .rak-modal-body {
    max-height: 100vh;
  }

}
